.shipping_notice_container{ 
    background-color:#e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.shipping_notice_container .icon{
    font-weight: 900;
    font-size: 2em;
}
.shipping_notice_container p{
    font-size: 1.3rem;
    line-height: 0.9;
}
.shipping_notice_container p:nth-child(2){
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;    
    font-weight: 900;
    padding-top: 1%;
}
.shipping_notice_container p:nth-child(3){
    text-transform: uppercase;
    letter-spacing: 0.2em; 
    font-size: 0.8rem;
    padding: 10px;
}
.footer{
    
}